<a href="https://colab.research.google.com/github/VictoriaUsman/Big-Data/blob/main/RDD_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = [
    "customer_id, name, city, province, country, registration_date, is_active",
    "0,customer_0, Ian_Tristan, Victoria, Oriental_Mindoro, Philippines, 1983-05-14, True",
    "1,customer_1, Neil_Allan, San_Pedro, Laguna, Philippines, 1983-05-24, True",
    "2,customer_2, Ian_Lester, Via_Torino, Milan, Italy, 1983-05-14, True",
    "3,customer_3, Pamela, Via_Laguarda, Como, Italy, 1983-05-11, False",
    "4,customer_4, Jeffrey, San_Gelacio, Naujan, Philippines, 1983-05-10, False",
    "5,customer_5, Matis, Agoncillo, Batangas, Philippines, 1983-02-12, False",
    "6,customer_6, Kaye, San_Pedro, Laguna, Philippines, 1990-13-20, True",

]

# This is a sample data

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("RDD Operations").getOrCreate()

In [6]:
rdd = spark.sparkContext.parallelize(data)

In [7]:
mapper = rdd.map(lambda ian : ian != header)

In [11]:
print(mapper)

PythonRDD[1] at RDD at PythonRDD.scala:56

In [7]:
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:297

In [72]:
rdd.collect()

['customer_id, name, city, province, country, registration_date, is_active',
 '0,customer_0, Ian_Tristan, Victoria, Oriental_Mindoro, Philippines, 1983-05-14, True',
 '1,customer_1, Neil_Allan, San_Pedro, Laguna, Philippines, 1983-05-24, True',
 '2,customer_2, Ian_Lester, Via_Torino, Milan, Italy, 1983-05-14, True',
 '3,customer_3, Pamela, Via_Laguarda, Como, Italy, 1983-05-11, False',
 '4,customer_4, Jeffrey, San_Gelacio, Naujan, Philippines, 1983-05-10, False',
 '5,customer_5, Matis, Agoncillo, Batangas, Philippines, 1983-02-12, False',
 '6,customer_6, Kaye, San_Pedro, Laguna, Philippines, 1990-13-20, True']

In [73]:
rdd.getNumPartitions()

2

In [74]:
# using function first() -
header = rdd.first()

In [13]:
header

'customer_id, name, city, province, country, registration_date, is_active'

In [21]:
#filter() function
nohead_rdd = rdd.filter(lambda ian : ian != header)

In [17]:
mapper = rdd.map(lambda ian : ian == header)

In [18]:
mapper.collect()

[True, False, False, False, False, False, False, False]

In [22]:
nohead_rdd #transformation

PythonRDD[6] at RDD at PythonRDD.scala:56

In [65]:
nohead_rdd.collect()

['0,customer_0, Ian_Tristan, Victoria, Oriental_Mindoro, Philippines, 1983-05-14, True',
 '1,customer_1, Neil_Allan, San_Pedro, Laguna, Philippines, 1983-05-24, True',
 '2,customer_2, Ian_Lester, Via_Torino, Milan, Italy, 1983-05-14, True',
 '3,customer_3, Pamela, Via_Laguarda, Como, Italy, 1983-05-11, False',
 '4,customer_4, Jeffrey, San_Gelacio, Naujan, Philippines, 1983-05-10, False',
 '5,customer_5, Matis, Agoncillo, Batangas, Philippines, 1983-02-12, False',
 '6,customer_6, Kaye, San_Pedro, Laguna, Philippines, 1990-13-20, True']

In [77]:
nohead_rdd.count()

7

In [90]:
# Parsing data

In [77]:
parsed_rdd = nohead_rdd.map(parsing)

In [134]:
def parsing(data):
  row = data.split(",")
  return (
      int(row[0]),
      row[1],
      row[2],
      row[3],
      row[4],
      row[5],
      row[6],
      row[7] ==" True"
  )

In [135]:
parsed = nohead_rdd.map(parsing)

In [136]:
parsed.collect()

[(0,
  'customer_0',
  ' Ian_Tristan',
  ' Victoria',
  ' Oriental_Mindoro',
  ' Philippines',
  ' 1983-05-14',
  True),
 (1,
  'customer_1',
  ' Neil_Allan',
  ' San_Pedro',
  ' Laguna',
  ' Philippines',
  ' 1983-05-24',
  True),
 (2,
  'customer_2',
  ' Ian_Lester',
  ' Via_Torino',
  ' Milan',
  ' Italy',
  ' 1983-05-14',
  True),
 (3,
  'customer_3',
  ' Pamela',
  ' Via_Laguarda',
  ' Como',
  ' Italy',
  ' 1983-05-11',
  False),
 (4,
  'customer_4',
  ' Jeffrey',
  ' San_Gelacio',
  ' Naujan',
  ' Philippines',
  ' 1983-05-10',
  False),
 (5,
  'customer_5',
  ' Matis',
  ' Agoncillo',
  ' Batangas',
  ' Philippines',
  ' 1983-02-12',
  False),
 (6,
  'customer_6',
  ' Kaye',
  ' San_Pedro',
  ' Laguna',
  ' Philippines',
  ' 1990-13-20',
  True)]

In [ ]:
# Advance RDD Operation

Extracting field Using Map()

Extracting province and Country

In [143]:
Prov_Country = parsed.map(lambda ian : (ian[4],ian[5]))

In [147]:
Prov_Country.collect()

[(' Oriental_Mindoro', ' Philippines'),
 (' Laguna', ' Philippines'),
 (' Milan', ' Italy'),
 (' Como', ' Italy'),
 (' Naujan', ' Philippines'),
 (' Batangas', ' Philippines'),
 (' Laguna', ' Philippines')]

Extracting Active Customers

In [174]:
active_rdd = parsed.filter(lambda ian : ian[7]==True)

In [178]:
active_rdd.collect()

[(0,
  'customer_0',
  ' Ian_Tristan',
  ' Victoria',
  ' Oriental_Mindoro',
  ' Philippines',
  ' 1983-05-14',
  True),
 (1,
  'customer_1',
  ' Neil_Allan',
  ' San_Pedro',
  ' Laguna',
  ' Philippines',
  ' 1983-05-24',
  True),
 (2,
  'customer_2',
  ' Ian_Lester',
  ' Via_Torino',
  ' Milan',
  ' Italy',
  ' 1983-05-14',
  True),
 (6,
  'customer_6',
  ' Kaye',
  ' San_Pedro',
  ' Laguna',
  ' Philippines',
  ' 1990-13-20',
  True)]

Showing Distinct Country

In [179]:
distinct_country = parsed.map(lambda ian : ian[5]).distinct()

In [180]:
distinct_country.collect()

[' Philippines', ' Italy']

Count customer by country

In [185]:
customer_by_country = parsed.map(lambda ian : (ian[5],1)).reduceByKey(lambda a,b : a+b)

In [186]:
customer_by_country.collect()

[(' Philippines', 5), (' Italy', 2)]

using take() to see first 5 row

In [183]:
parsed.take(5)

[(0,
  'customer_0',
  ' Ian_Tristan',
  ' Victoria',
  ' Oriental_Mindoro',
  ' Philippines',
  ' 1983-05-14',
  True),
 (1,
  'customer_1',
  ' Neil_Allan',
  ' San_Pedro',
  ' Laguna',
  ' Philippines',
  ' 1983-05-24',
  True),
 (2,
  'customer_2',
  ' Ian_Lester',
  ' Via_Torino',
  ' Milan',
  ' Italy',
  ' 1983-05-14',
  True),
 (3,
  'customer_3',
  ' Pamela',
  ' Via_Laguarda',
  ' Como',
  ' Italy',
  ' 1983-05-11',
  False),
 (4,
  'customer_4',
  ' Jeffrey',
  ' San_Gelacio',
  ' Naujan',
  ' Philippines',
  ' 1983-05-10',
  False)]

using CountByValue()

In [189]:
count_by_country = parsed.map(lambda ian : ian[5]).countByValue()  # This is an action call

In [190]:
count_by_country

defaultdict(int, {' Philippines': 5, ' Italy': 2})

Combining More Operations
Cities with Active customers

In [206]:
active_customers_and_city = parsed.filter(lambda ian : ian[7]==True).map(lambda ian:ian[3])

In [215]:
counter =  active_customers_and_city.collect()
counter

[' Victoria', ' San_Pedro', ' Via_Torino', ' San_Pedro']

In [213]:
active_customers_and_city.countByValue()

defaultdict(int, {' Victoria': 1, ' San_Pedro': 2, ' Via_Torino': 1})

In [216]:
spark.stop()